:root {
  scroll-behavior: smooth;
  text-align: justify;
  --c-text: #000000;
  --c-brand: rgb(6, 146, 53);
  --c-tip: var(--c-brand);
  --c-warning-bg: var(--c-details-bg);
  --c-warning-text: var(--c-text);
  --c-warning-title: var(--c-text);
  --c-danger-text: var(--c-text);
  --c-danger-bg: var(--c-details-bg);
  --c-tip-bg: var(--c-details-bg);
  --content-width: 90%;
  --sidebar-width: 20rem;
  --c-details-bg: #ffffff;
  --c-brand-light: var(--c-brand);
  --font-family: 'Noto Serif', 'Noto Serif CJK TC', 'Noto Serif CJK SC', 'Source Han Serif TC', 'Source Han Serif', source-han-serif-sc, serif;
  --font-weight: 600;
}